body
{
    margin: 0 !important;
    background-color: #000 !important;
    overflow-x: hidden;

}
*
{
    font-family: 'Netflix', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
/* Globals */
h1
{
  font-size: 64px;
}
h2
{
  font-size: 45px;
}
h3
{
  font-size: 32px;
}
h4
{
  font-size: 26px;
}
h5
{
  font-size: 19px;
}
h6
{
  font-size: 11px;
}
header {
    position: fixed;
    width: 100% !important;
    background-color:transparent;
    z-index: 1;
}
.my-logo {
   width: 100%;
   max-width: 166px;
}
.container-fluid
{
    padding: 0 !important;
}
.main-content
{
    display: flex;
    flex-direction: row;

}
.main-menu-con {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:20px 56px;
}
.main-menu {
    display: flex;
    padding: 0 !important;
    gap: 30px;
    height: 34px;
    width: 84px;
    border-radius: 3px;
    background: #e50914;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}
.main-menu a{
   color: #FFF;
   text-decoration: none;
   font-size: 1rem;
}

.my-logo img {
    width: 100%;
    height: 80px;
}
.main__banner
{
    width: 100%;
    background-image: url('./images/banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 8px solid #222;
}
.main__banner::before
{
    content: "";
   position: absolute;
   background: rgba(0,0,0,.4);
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
}
.main__banner_container
{
    max-width: 950px;
    margin: 0 auto;
    padding: 190px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-align: center;
    flex-direction: column;
}
.main__banner_container h1
{
    color: #FFF;
    z-index: 1;
    letter-spacing: 7px;
}
.main__banner_container h4
{
    color: #FFF;
    z-index: 1;
    letter-spacing: 2px;
    margin: 16px 75px;
}
.main__banner_container h5
{
    color: #FFF;
    z-index: 1;
    letter-spacing: 0px;
    padding:0px 47px 20px;
}
.banner-search {
    display: flex;
    width: 100%;
    justify-content: center;
}
.banner-search input {
    height: 70px;
    width: 100%;
    max-width: 500px;
    z-index: 1;
}
.banner-search button {
    height: 70px;
    width: 100%;
    max-width: 245px;
    z-index: 1;
    background-color: #e50914;
    font-size: 30px;
    color: #FFF;
    border: none;
}