body
{
    margin: 0 !important;
    background-color: #FFFFFF !important;
    overflow: hidden;

}
*
{
    font-family: 'Heebo', sans-serif !important;
    margin: 0;
}
.container-fluid
{
    padding: 0 !important;
}
.main-content
{
    display: flex;
    flex-direction: row;

}
.main-menu-con {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}
.main-menu {
    display: flex;
    padding: 0 !important;
}
.main-menu li{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}